.count-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 188px;
  padding: 10px;
  gap: 10px;
}

.count-container span {
  margin-top: auto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
