.border,
.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18px;
  padding: 11px;
  border-radius: 10px;
  width: 357px;
  height: 50px;
}

.border {
  border: 1px solid var(--primary-primary);
  color: var(--primary-primary);
}

.fill {
  background-color: var(--primary-primary);
  color: #fff;
}
