.header {
  box-sizing: border-box;
  display: inline-flex;
  padding: 11px 18px;
  justify-content: center;
  align-items: flex-start;
  gap: 484px;
  position: fixed;
  background-color: #fff;

  position: sticky;
  top: 0px;
  left: 0px;
  height: 48px;
  background-color: rgb(255, 255, 255);
  z-index: 100;
}

.backHeader {
  box-sizing: border-box;
  display: flex;
  padding: 11px 18px;
  align-items: center;
  position: fixed;
  background-color: #fff;

  position: sticky;
  top: 0px;
  left: 0px;
  height: 48px;
  background-color: rgb(255, 255, 255);
  z-index: 100;
}

.logo {
  width: 54px;
  height: 22px;
}
.bell {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 2.877px 3px 2.388px 3px;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  color: var(--Gray-Scale-gray9, #3b3f4a);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
}

.backIcon {
  margin-right: auto;
}

.mypageHeader {
  width: 100%;
  box-sizing: border-box;
  display: inline-flex;
  padding: 11px 18px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  position: sticky;
  top: 0px;
  left: 0px;
  height: 48px;
  background-color: rgb(255, 255, 255);
  z-index: 100;
}

.mainTitle {
  /* width: 70px; */
  color: var(--Gray-Scale-gray9, #3b3f4a);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
}
