/* post */
.postContainer {
  background: var(--Gray-Gray2, #eff1f4);
  width: 600px;
  min-height: 741px;
  height: calc(100% - 220px);
  flex-shrink: 0;
}

.buttonWrap {
  display: flex;
}

.buttonWrap .postButton {
  display: flex;
  padding: 10px 0px 14px 0px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  color: var(--Gray-Gray6, #9da0a8);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
}

.buttonWrap .postButton.active {
  color: var(--Primary-primary, #3434ff);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  border-bottom: 2px solid var(--Primary-primary, #3434ff);
}
