.slideContent {
  margin: 30px 0 30px 18px;
}

.title {
  color: #000;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 14px;
}

.slideContainer {
  display: flex;
  overflow: hidden;
}

.slide {
  width: 222px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #595959;
  padding: 8px 0 8px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 12px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.userImg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 50%;
}

.userName {
  color: #fff;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contentText {
  color: #fff;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* post */
.postContainer {
  height: 4000px;
  background: var(--Gray-Gray2, #eff1f4);
  width: 600px;
  min-height: 741px;
  flex-shrink: 0;
}

.buttonWrap {
  display: flex;
}

.buttonWrap .postButton {
  display: flex;
  padding: 10px 0px 14px 0px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  color: var(--Gray-Gray6, #9da0a8);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
}

.buttonWrap .postButton.active {
  color: var(--Primary-primary, #3434ff);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  border-bottom: 2px solid var(--Primary-primary, #3434ff);
}

.writeButton {
  background: none;
  position: sticky; /* 스크롤 시 고정되도록 설정 */
  top: 0;
  z-index: 10000;
}

.postBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 18px;
  gap: 14px;
}

.post {
  width: 564px;
  height: 164px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post .postInfo {
  display: flex;
  justify-content: space-between;
  padding: 14px 18px;
  height: 126px;
}

.post .postInfo img {
  width: 127px;
  height: 92px;
  flex-shrink: 0;
}

.post .postInfo .textInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post .postInfo .textInfo .postTitle {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  padding-top: 10px;
  padding-bottom: 4px;
}

.post .postInfo .textInfo .postLocation {
  color: var(--Gray-Gray9, #3b3f4a);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 14px */
}

/* post userInfo */
.post .userInfo {
  display: flex;
  gap: 6px;
}

.post .userInfo .userImg {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.post .userInfo .userTextBox {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.post .userInfo .userTextBox .userName {
  color: var(--Gray-Gray9, #3b3f4a);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
}

.post .userInfo .userTextBox .postDate {
  color: var(--Gray-Gray9, #3b3f4a);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
}

/* post button */
.post .postButtonWrap {
  display: flex;
  width: 100%;
}

.post .postButtonWrap .button {
  display: flex;
  width: 188px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 4px;

  border-top: 1px solid var(--Gray-Scale-gray3, #e4e6ea);
  border-right: 1px solid var(--Gray-Scale-gray3, #e4e6ea);
}

.post .postButtonWrap .button:first-child {
  border-radius: 0 0 0 10px;
}

.post .postButtonWrap .button:last-child {
  border-right: none;
  border-radius: 0 0 10px 0;
}

.post .postButtonWrap .button .buttonText {
  color: var(--Gray-Gray9, #3b3f4a);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
