.postContainer {
  padding: 20px 18px;
  background: var(--Gray-Gray2, #eff1f4);
  min-height: calc(100vh - 48px);
}

.mainTitle {
  color: var(--Gray-Scale-black, #000);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
}
