/* 게시글 유저 정보 */
.postDetailContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 78px;
}

.postWrapper {
  padding: 18px;
}

.userInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.userInfoBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 6px;
}

.userInfoBox .userImg {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.userInfoBox .flexBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 2px;
}

.userInfoBox .userName {
  color: var(--Gray-Scale-gray9, #3b3f4a);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 14px */
}

.userInfoBox .postDate {
  color: var(--Gray-Scale-gray8, #5a5e6a);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
}

.userInfoBox .locationInput {
  display: inline-flex;
  padding: 5px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 22px;
  background: var(--secondary-secondary, #d4ff5e);

  color: var(--Gray-Scale-gray9, #3b3f4a);
  text-align: center;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 12px */
}

.userInfoContainer .activeBox {
  display: flex;
  gap: 14px;
}

/* 게시글 내용 */
.postContainer {
}

.postContainer .postTitle {
  color: var(--Gray-Scale-black, #000);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  letter-spacing: -0.054px;
}

.postContainer .SliderContainer {
  margin: 20px 0;
  width: 100%;
  height: 304px; /* 원하는 높이로 조정 */
}

.postContainer .postContent {
  width: 550px;
  color: var(--Gray-Scale-gray9, #3b3f4a);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: -0.048px;
  margin-bottom: 30px;
}

.sperator {
  width: 600px;
  height: 8px;
  flex-shrink: 0;

  background: var(--Gray-Scale-gray2, #eff1f4);
}

/* 댓글 */
.commentContainer {
  padding-top: 24px;
}
.commentContainer .commentTitleBox {
  display: flex;
  gap: 4px;
  padding: 0 18px;
}

.commentContainer .commentTitleBox .commentTitle {
  color: var(--Gray-Scale-black, #000);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  letter-spacing: -0.054px;
}

.commentContainer .commentTitleBox .commentCount {
  color: var(--primary-p600, #2424db);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  letter-spacing: -0.054px;
}

.commentBox {
  display: flex;
  flex-direction: column;
  padding: 0 18px;
}

.commentBox .commentCard {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e4e6ea;
  margin-top: 14px;
}

.commentBox .commentCard:last-child {
  border-bottom: none;
}

.commentBox .commentCard .userInfoBox {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 13px;
}

.commentBox .commentCard .userInfoBox .userImg {
  width: 32px;
  height: 32px;
}

.commentBox .commentCard .userInfoBox .userName {
  align-self: stretch;
  color: var(--Gray-Gray9, #3b3f4a);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
}

.commentBox .commentCard .userInfoBox .postDate {
  align-self: stretch;
  color: var(--Gray-Gray9, #3b3f4a);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
}

.commentBox .commentCard .commentContent {
  max-height: 48px;
  align-self: stretch;

  color: var(--Gray-Scale-black, #000);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  letter-spacing: -0.042px;

  padding-bottom: 14px;
}

.commentContainer .commentActiveBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 60px;
}

.commentContainer .commentActiveBox .commentInput {
  padding: 12px 18px; /* 좌우 패딩 추가 */
  border-top: 1px solid #e4e6ea;
  display: flex;
  justify-content: center;
  position: relative; /* 추가 */
}

.commentContainer .commentActiveBox .commentInput Input {
  display: flex;
  width: 100%; /* 변경 */
  padding: 12px 40px 12px 20px; /* 오른쪽 패딩 증가 */
  justify-content: space-between;
  align-items: center;

  border-radius: 10px;
  border: 1px solid var(--Gray-Scale-gray4, #d5d8dc);
  background: #fff;
}

.commentContainer .commentActiveBox .commentInput Input::placeholder {
  color: var(--Gray-Scale-gray6, #9da0a8);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.commentContainer .commentActiveBox .commentInput .commentBtn {
  position: absolute;
  right: 30px; /* 오른쪽에서 30px 떨어진 위치 */
  top: 50%; /* 상위 요소의 중앙에 위치 */
  transform: translateY(-50%); /* 버튼 자체의 높이의 절반만큼 위로 이동 */
  background: none;
  border: none;
  cursor: pointer;
}
.commentContainer .commentActiveBox .buttonBox {
  display: flex;
  width: 100%;
}

.commentContainer .commentActiveBox .buttonBox .button {
  display: flex;
  width: 200px;
  padding: 14px 10px;
  justify-content: center;
  align-items: center;
  gap: 4px;

  border-right: 1px solid var(--Gray-Scale-gray3, #e4e6ea);
}

.commentContainer .commentActiveBox .buttonBox .button:first-child {
  border-radius: 0 0 0 10px;
}
.commentContainer .commentActiveBox .buttonBox .button:last-child {
  border-right: none;
  border-radius: 0 0 10px 0;
}

.commentContainer .commentActiveBox .buttonBox .button .buttonText {
  color: var(--Gray-Gray9, #3b3f4a);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
