.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Gray-Scale-gray2);
  padding: 16px;
  width: 564px;
  height: 56px;
  border-radius: 10px;
}

.nav__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__left hr {
  width: 1px;
  height: 24px;
  background-color: var(--Gray-Scale-gray1);
  margin: 0 12px;
}

.left__container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.nav button {
  background-color: var(--primary-primary);
  color: #fff;
  border: none;
  cursor: pointer;
}
