.more-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  width: 100%;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  padding: 16px;
}

.more-header span {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
