/* post */
.writeButton {
  background: none;
  position: sticky; /* 스크롤 시 고정되도록 설정 */
  top: 0;
  z-index: 10000;
}

.postBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 18px 0 18px;
  gap: 14px;
}

.post {
  width: 564px;
  min-height: 164px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post .postInfo {
  display: flex;
  justify-content: space-between;
  padding: 14px 18px;
  min-height: 126px;
}

.post .postInfo img {
  width: 127px;
  height: 92px;
  flex-shrink: 0;
}

.post .postInfo .textInfo {
  display: flex;
  flex-direction: column;
  width: 370px;
}

.post .postInfo .textInfo .postTitle {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  margin-top: 10px;
  margin-bottom: 4px;
  height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  line-clamp: 2;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.post .postInfo .textInfo .postLocation {
  color: var(--Gray-Gray9, #3b3f4a);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 14px */
}

/* post userInfo */
.post .userInfo {
  display: flex;
  gap: 6px;
}

.post .userInfo .userImg {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.post .userInfo .userTextBox {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.post .userInfo .userTextBox .userName {
  color: var(--Gray-Gray9, #3b3f4a);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
}

.post .userInfo .userTextBox .postDate {
  color: var(--Gray-Gray9, #3b3f4a);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
}

.postStatusContainer {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.postStatusContainer .postStatus {
  display: flex;
  gap: 4px;
  border-right: 1px solid var(--Gray-Scale-gray4, d5d8dc);
  padding-right: 10px;
}

.postStatusContainer .postStatus:last-child {
  border-right: none;
  padding-right: 0;
}

/* post button */
.post .postButtonWrap {
  display: flex;
  width: 100%;
}

.post .postButtonWrap .button {
  display: flex;
  width: 188px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 4px;

  border-top: 1px solid var(--Gray-Scale-gray3, #e4e6ea);
  border-right: 1px solid var(--Gray-Scale-gray3, #e4e6ea);
}

.post .postButtonWrap .button:first-child {
  border-radius: 0 0 0 10px;
}

.post .postButtonWrap .button:last-child {
  border-right: none;
  border-radius: 0 0 10px 0;
}

.post .postButtonWrap .button .buttonText {
  color: var(--Gray-Gray9, #3b3f4a);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.myPost {
  height: 152px !important;
}

.myPostBtn {
  width: 50% !important;
}

.myPostImg {
  width: 148px !important;
  height: 107px !important;
  flex-shrink: 0 !important;
}

.toolBtnBox {
  bottom: 70px;
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  z-index: 500;
  right: 50%;
  transform: translateX(290px);
}

.toolBtnBox button {
  background: none;
}
