.inputContainer {
  display: flex;
  align-items: center;
  width: 564px;
  height: 44px;
  padding: 10px 12px;
  gap: 8px;
  border-radius: 10px;
  background-color: var(--Gray-Scale-gray2);
  margin: 0 auto;
}

.input {
  flex: 1;
  border: none;
  background: none;
  outline: none;
}

.icon {
  width: 24px;
  height: 24px;
  transition: fill 0.3s;
}

/* Placeholder 스타일링 */
.input::placeholder {
  color: var(--Gray-Gray6, #9da0a8);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
