.slider-container {
  display: flex;
  width: 600px;
  height: 346px;
  margin-top: 48px;
  overflow: hidden;
  position: relative;
  cursor: grab;
}

.container__item {
  display: flex;
  transition: transform 0.3s ease-in-out;
  transition: 1s all;
  will-change: transform;
}

.container__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
}

.container__nav p {
  margin: 0 20px;
}
