.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 30px;
  width: 600px;
  overflow: hidden;
  background-color: #fff;
}

.main__header {
  text-align: left;
  width: 550px;

  margin-bottom: 14px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.main img {
  width: 585px;
  height: 801px;
  margin-bottom: 20px;
}

.main__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 10px;
  border-radius: 10px;
  border: 1px solid var(--gray-Scale-gray4, #d5d8dc);

  width: 544px;
  color: var(--primary-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.048px;
}

.main__button img {
  width: 24px;
  height: 24px;
  margin: 0 6px;
  padding: 0;
}

/* 티켓 */
.tickets {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: var(--Gray-Scale-gray2, #eff1f4);
}

.tickets__item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 550px;
  height: 50px;
  border-bottom: 1px solid #d5d8dc;
}

.tickets__item:last-child {
  border: none;
}

.tickets__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: var(--Gray-Scale-black, #000);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
}

.header__information {
  display: flex;
  align-items: center;
}

.header__information p {
  color: var(--Gray-Scale-gray9, #3b3f4a);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
}

.section__header {
  width: 100%;
  margin-top: 50px;
}

.tickets__header img {
  width: 24px;
  height: 24px;
  margin: 0 5px;
}

.tickets__header a {
  color: var(--Gray-Scale-gray8, #5a5e6a);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
  text-decoration-line: underline;
}

/* 이용권 정보 */

.information {
  margin-top: 20px;
  width: 100%;
  height: 203px;
  flex-shrink: 0;

  border-radius: 10px;
  background: var(--Gray-Scale-gray2, #eff1f4);
}

.information__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  height: 100%;
}

.list__item {
  display: flex;
  align-items: center;
}

.list__item p {
  width: 88px;
  -webkit-box-orient: vertical;
  flex-shrink: 0;
  overflow: hidden;
  color: var(--Gray-Scale-gray7, #7f828c);
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.2px;
}

.list__item span {
  color: var(--Gray-Scale-black, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.08px;
}

.content-map__custom-overlay {
  position: relative;
  bottom: 50px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
  background: #fff;
}

.content-map__custom-overlay .overlay__title {
  display: block;
  text-align: center;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
}
