.container {
  width: 552px;
  padding: 5px;
  animation: 1s fadeIn ease-in-out;
}
.success .error {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.052px;
  opacity: 0;
}

.error {
  color: #f43c35;
}

.success {
  color: #0081ef;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
