/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
}

html,
body * {
  box-sizing: border-box;
}
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #666;
}

:root {
  --Gray-Scale-black: #000;
  --Gray-Scale-gray2: #eff1f4;
  --Gray-Scale-gray3: #e4e6ea;
  --Gray-Scale-gray4: #d5d8dc;
  --Gray-Scale-gray7: #7f828c;
  --Gray-Scale-gray8: #5a5e6a;
  --Gray-Scale-gray9: #3b3f4a;

  --Secondary-secondary: #d4ff5e;
  --primary-primary: #3434ff;
}

button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.slick-track {
  display: flex;
  margin: 0;
}

.slick-slide {
  margin: 0 1rem;
}

.slick-slide:first-child {
  margin: 0 1rem 0 0;
}
