.hashtag {
  display: inline-flex;
  padding: 8px 16px;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--Secondary-secondary);
  margin: 0 8px;
}

.hashtag p {
  color: var(--Gray-Scale-gray9);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
